{% extends "start.html" %}


{% block content %}
{% if not bets%}
  <h1>Ставок нет, надо это исправить</h1>
{% else %}
  <h1>Ваши ставки</h1>
  {% for i in range(length) %}
      <div class="col-md6 border rounded">
          <div>
              <div class="d-flex">
                  <img src="{{bets[i][1]}}" width="30px" height="30px">
                  <p>{{bets[i][0]}}</p>
              </div>
              <div class="d-flex">
                  <img src="{{bets[i][3]}}" width="30px" height="30px">
                  <p>{{bets[i][2]}}</p>
              </div>
          </div>
          <div>
              {%if bets[i][5] == bets[i][6]%}
                    <p>Ваша ставка выиграла! Поздравляем!</p>
              {%else%}
                {%if bets[i][5] != bets[i][6] and bets[i][5]%}
                    <p>Ваша ставка проиграла(</p>
                {%else%}
                    <p>Время начала: {{bets[i][4]}}</p>
                    <p>Ваша ставка: на победу {{bets[i][6]}}</p>
                {%endif%}
              {%endif%}
          </div>
      </div>
  {% endfor %}
{%endif%}
{% endblock %}