{% extends "start.html" %}


{% block content %}
{% if not bets%}
  <h1>Ставок нет, надо это исправить</h1>
{% else %}
  <h1>Ваши ставки</h1>
  {% for i in range(length) %}
      <div class="col-md6 rounded column">
          <div class="d-flex">
          <div class="match">
              <div class="d-flex">
                  <img src="{{bets[i][1]}}" width="30px" height="30px">
                  <p>{{bets[i][0]}}</p>
              </div>
              <div class="d-flex">
                  <img src="{{bets[i][3]}}" width="30px" height="30px">
                  <p>{{bets[i][2]}}</p>
              </div>
          </div>
          <div class="d-flex bets">
              {%if bets[i][5] == 1%}
                <div>
                    <p>Ваша ставка выиграла! Поздравляем!</p>
                </div>
              {%else%}
                {%if bets[i][5] == 2%}
                    <p>Ваша ставка проиграла(</p>
                {%else%}
                    <div class="d-flex">
                        <div class="user_bet">
                            <p>Время начала:</p>
                            <p>{{bets[i][4]}}</p>
                        </div>
                        <div class="user_bet">
                            <p>Ваша ставка:</p>
                            <p>на {{'победу' + ' ' + bets[i][6] if bets[i][6] != 'Ничья' else 'Ничью'}}</p>
                        </div>
                    </div>
                {%endif%}
              {%endif%}
          </div>
          </div>
      </div>
  {% endfor %}
{%endif%}
{% endblock %}