{% extends "start.html" %}


{% block content %}
<h1>Лутай и заряжай</h1>
{% if not current_user.is_authenticated%}
  <h1></h1>
{% else %}
  <h1>Ближайшие матчи</h1>
  {% for i in range(length) %}
      <div class="col-md6 rounded column">
          <div class="d-flex cont">
              <div class="datetime">
                  <p class="date">{{matches[i][4][0]}}</p>
                  <p class="date">{{matches[i][4][1]}}</p>
              </div>
              <div class="match">
                  <div class="d-flex">
                      <img src="{{matches[i][1]}}" width="30px" height="30px">
                      <p>{{matches[i][0]}}</p>
                  </div>
                  <div class="d-flex">
                      <img src="{{matches[i][3]}}" width="30px" height="30px">
                      <p>{{matches[i][2]}}</p>
                  </div>
              </div>
              <div class="d-flex bets">
                  <div class="bet">
                      <p style="text-align: center;">{{matches[i][0]}}</p>
                      <a href="/bet/{{matches[i][5]}}"><button>2.0x</button></a>
                  </div>
                  <div class="bet">
                      <p style="text-align: center;">Ничья</p>
                      <a href="/bet/{{matches[i][5]}}"><button>1.5x</button></a>
                  </div>
                  <div class="bet">
                      <p style="text-align: center;">{{matches[i][2]}}</p>
                      <a href="/bet/{{matches[i][5]}}"><button>2.0x</button></a>
                  </div>
              </div>
          </div>
      </div>
  {% endfor %}
{%endif%}
{% endblock %}