{% extends "start.html" %}


{% block content %}
    <div class="d-flex">
        {% if image %}
            <img src="{{image}}" width="100px" height="100px">
        {% else %}
            <img src="static/avatars/Без аватарки.jpeg" width="100px" height="100px">
        {% endif %}
        <div>
            <h4>Имя пользователя: {{ current_user.name }}</h4>
            <h4>Дата регистрации: {{ created_date }}</h4>
            <h4>Баланс: {{ amount_of_money }}</h4>
            <a href='/logout'><button type=submit>Выйти из профиля</button></a>
        </div>
    </div>
{% endblock %}