<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <title>ПРОЕКТ</title>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg" style="background-color: #7FFF00;">
        <div class="container-fluid">
            <div class="d-flex">
                <h1>Down-x</h1>
            </div>
            <div class="d-flex">
                <h4><a class="nav-link" style="color: black;" href="/">Главная</a></h4>
                <h4><a class="nav-link" style="color: black;" href="/competitions">Чемпионаты</a></h4>
                <h4><a class="nav-link" style="color: black;" href="/bonus">Бонусы</a></h4>
            </div>
            <a class="nav-link" style="background-color: #8B008B; color: black;" href="#">User</a>
        </div>
    </nav>
</header>
<main role="main" class="container">
    {% block content %}{% endblock %}
</main>
</body>
</html>